{% trans_default_domain 'users' %}

<h2>{{ 'user_change_password.title'|trans }}</h2>
{% include 'components/flash.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}

<div>
    <a href="{{ path('user_list') }}" class="btn btn-danger" role="button">{{ 'change_password_form.cancel_button'|trans }}</a>
    <input type="submit" class="btn btn-success pull-right" value="{{ 'change_password.submit'|trans }}" />
</div>
{{ form_end(form) }}
