{% extends "base.html.twig" %}
{% set active_page = 'users' %}
{% trans_default_domain 'users' %}
{% block title %}{{ 'user_registration.title'|trans }}{% endblock title %}
{% block pageTitle %}{{ 'user_registration.title'|trans }}{% endblock pageTitle %}

{% block content %}
    {{ form(form) }}
    <a href="{{ path('user_list') }}" class="btn btn-danger" role="button">Cancel</a>
    {{ form_widget( form.submitButton, {'attr': {'class': 'btn btn-success btn-lg pull-right'} } ) }}
{% endblock content %}
