{% trans_default_domain 'manual' %}
<h5 class="font-weight-bold">{{ 'manual.configuration.title.meaning_configuration_keys'|trans }}</h5>
<p>{{ 'manual.configuration.description.meaning_configuration_keys'|trans }}</p>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td>ffmpegLocationApplication</td>
        <td>{{ 'manual.user_management.description.ffmpeg_location_application'|trans }}</td>
    </tr>
    <tr>
        <td>inputCameraAddress</td>
        <td>{{ 'manual.user_management.description.input_camera_address'|trans }}</td>
    </tr>
    <tr>
        <td>increaseVolumeInput</td>
        <td>{{ 'manual.user_management.description.increase_volume_input'|trans }}</td>
    </tr>
    <tr>
        <td>audioSamplingFrequency</td>
        <td>{{ 'manual.user_management.description.audio_sampling_frequeny'|trans }}</td>
    </tr>
    <tr>
        <td>audioBitrate</td>
        <td>{{ 'manual.user_management.description.audio_bitrate'|trans }}</td>
    </tr>
    <tr>
        <td>mapAudioChannel</td>
        <td>{{ 'manual.user_management.description.map_audio_channel'|trans }}</td>
    </tr>
    <tr>
        <td>outputStreamFormat</td>
        <td>{{ 'manual.user_management.description.output_stream_format'|trans }}</td>
    </tr>
    <tr>
        <td>cameraLocationApplication</td>
        <td>{{ 'manual.user_management.description.camera_location_application'|trans }}</td>
    </tr>
    <tr>
        <td>hardwareVideoDevice</td>
        <td>{{ 'manual.user_management.description.hardware_video_device'|trans }}</td>
    </tr>
    <tr>
        <td>outputVideoLocation</td>
        <td>{{ 'manual.user_management.description.output_video_location'|trans }}</td>
    </tr>
    <tr>
        <td>audioVolume</td>
        <td>{{ 'manual.user_management.description.audio_volume'|trans }}</td>
    </tr>
    <tr>
        <td>videoBitrate</td>
        <td>{{ 'manual.user_management.description.video_bitrate'|trans }}</td>
    </tr>
    <tr>
        <td>retryIsServerAvailable</td>
        <td>{{ 'manual.user_management.description.retry_server_available'|trans }}</td>
    </tr>
    <tr>
        <td>intervalIsServerAvailable</td>
        <td>{{ 'manual.user_management.description.interval_server_available'|trans }}</td>
    </tr>
    <tr>
        <td>livestreamServer</td>
        <td>{{ 'manual.user_management.description.livestream_server'|trans }}</td>
    </tr>
    <tr>
        <td>mixerIPAddress</td>
        <td>{{ 'manual.user_management.description.mixer_ip_address'|trans }}</td>
    </tr>
    <tr>
        <td>checkIfMixerIsRunning</td>
        <td>{{ 'manual.user_management.description.check_if_mixer_is_running'|trans }}</td>
    </tr>
    <tr>
        <td>mixerIntervalTime</td>
        <td>{{ 'manual.user_management.description.mixer_interval_time'|trans }}</td>
    </tr>
    <tr>
        <td>mixerRetryAttempts</td>
        <td>{{ 'manual.user_management.description.mixer_retry_attempts'|trans }}</td>
    </tr>
    <tr>
        <td>stopStreamCommand</td>
        <td>{{ 'manual.user_management.description.stop_stream_command'|trans }}</td>
    </tr>
    </tbody>
</table>
