{% trans_default_domain 'manual' %}
<h5 class="font-weight-bold">{{ 'manual.user_management.description.default_user'|trans }}</h5>
<p>{{ 'manual.user_management.title.default_user'|trans }}</p>
<h5 class="font-weight-bold">{{ 'manual.user_management.title.authorized_users'|trans }}</h5>
<p>{{ 'manual.user_management.description.authorized_users'|trans }}</p>
<h5 class="font-weight-bold">{{ 'manual.user_management.title.user_details'|trans }}</h5>
<p>{{ 'manual.user_management.description.user_details'|trans }}</p>
