{% extends "base.html.twig" %}
{% set active_page = 'schedule' %}
{% trans_default_domain 'schedule_create' %}
{% block title %}{{ 'stream_schedule.new.title'|trans }}{% endblock title %}

{% block content %}
    <h2>{{ 'stream_schedule.new.title'|trans }}</h2>
    {% include 'components/flash.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {% if form.onetimeExecutionDate is defined %}
        {{ form_row(form.onetimeExecutionDate) }}
    {% endif %}
    {% if form.executionDay is defined and form.executionTime is defined %}
        {{ form_row(form.executionDay) }}
        {{ form_row(form.executionTime) }}
    {% endif %}
    {{ form_row(form.streamDuration) }}
    {{ form_widget( form.disabled) }}
    {{ form_label( form.disabled) }}
    <a href="{{ path('scheduler_list') }}" class="btn btn-danger" role="button">{{ 'stream_schedule.action.cancel'|trans }}</a>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock content %}

