{% trans_default_domain 'users' %}

<h2>{{ 'user_registration.title'|trans }}</h2>
{% include 'components/flash.html.twig' %}

{{ form_start(form, {'method': 'post', 'action': path('user_registration')}) }}
    {{ form_widget(form) }}
<div>
    <a href="{{ path('user_list') }}" class="btn btn-danger" role="button">{{ 'registration_form.cancel_button'|trans }}</a>
    <input type="submit" class="btn btn-success pull-right" value="{{ 'registration_form.submit_button'|trans }}" />
</div>
{{ form_end(form) }}
