{% extends "base.html.twig" %}
{% set active_page = 'schedule' %}
{% trans_default_domain 'schedule_list' %}
{% block title %}{{ 'scheduler_list.title'|trans }}{% endblock title %}
{% block pageTitle %}{{ 'scheduler_list.title'|trans }}{% endblock pageTitle %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ 'scheduler_list.column.name'|trans }}</th>
                <th>{{ 'scheduler_list.column.scheduledExecution'|trans }}</th>
                <th>{{ 'scheduler_list.column.duration'|trans }}</th>
                <th>{{ 'scheduler_list.column.lastExecution'|trans }}</th>
                <th>{{ 'scheduler_list.column.actions'|trans }}</th>
            </tr>
        </thead>

        <tbody>
        {% if recurringScheduledItems is not empty %}
            {% set recurringItems = false %}
            <tr><th class="text-muted" colspan="8">Recurring:</th></tr>
            {% for recurringSchedule in recurringScheduledItems %}
                {{ include('scheduler/list/scheduleListItem.html.twig', {streamSchedule: recurringSchedule}) }}
            {% endfor %}
        {% endif %}
        </tbody>
        <tbody>
        {% if onetimeScheduledItems is not empty %}
            <tr><th class="text-muted" colspan="8">One-time:</th></tr>
            {% for onetimeSchedule in onetimeScheduledItems %}
                {{ include('scheduler/list/scheduleListItem.html.twig', {streamSchedule: onetimeSchedule}) }}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <hr>
    <div class="pull-right row">
        <a href="{{ path('schedule_create_onetime') }}" class="btn btn-secondary" role="button">
            {{ "schedule.action.new_onetime"|trans }}
        </a>
        <a href="{{ path('schedule_create_recurring') }}" class="btn btn-primary ml-1" role="button">
            {{ "schedule.action.new_recurring"|trans }}
        </a>
    </div>

{% endblock content %}
