{% trans_default_domain 'schedule_list' %}
<tr class="{% if onetimeSchedule.disabled == true %} text-muted{% endif %}">
    <td>
        <a href="{{ path('schedule_toggle_disabling', {'scheduleId': onetimeSchedule.id}) }}" >
            {% if onetimeSchedule.disabled == true %}
                <span class="text-danger fa fa-power-off fa-lg"></span> <span class="sr-only">&nbsp;</span>
            {% else %}
                <span class="text-success fa fa-power-off fa-lg"></span> <span class="sr-only">&nbsp;</span>
            {% endif %}
        </a>
    </td>
    <td>{{ onetimeSchedule.name }}</td>
    <td>{{ onetimeSchedule.command }}</td>
    <td>
        {% if onetimeSchedule.runWithNextExecution == true %}
            {{ 'scheduler_list.run_with_next_execution'|trans }}
        {% else %}
            {{ 'scheduler_list.recurring_time_prefix'|trans }}&nbsp;
            {{ onetimeSchedule.executionDay|trans|lower }}&nbsp;
            {{ 'scheduler_list.recurring_time_at'|trans }}&nbsp;
            {{ onetimeSchedule.executionTime|date("G:i", "Europe/Amsterdam") }}
        {% endif %}
    </td>
    <td>
        {% if onetimeSchedule.lastExecution is null %}-{% else %}{{ onetimeSchedule.lastExecution|date("D M j, G:i:s", "Europe/Amsterdam") }}{% endif %}
        {% set scheduleLog = onetimeSchedule.scheduleLog|first ? onetimeSchedule.scheduleLog|first : null %}
        {% if scheduleLog is not null and scheduleLog.runSuccessful == true %}
            <span class="fa fa-check text-center text-success fa-lg"></span>
        {% elseif scheduleLog is not null and scheduleLog.runSuccessful == false %}
            <span class="fa fa-warning text-danger fa-lg"></span>
        {% endif %}
    </td>
    <td>
        {% if scheduleLog is not null %}
            <a href="{{ path('schedule_view_logging', {'scheduleId': onetimeSchedule.id}) }}">
                <span class="fa fa-eye fa-lg"></span>
            </a>
        {% endif %}
    </td>
    <td>{{ onetimeSchedule.priority }}</td>
    <td style="min-width: 90px;">
        {% if onetimeSchedule.wrecked == true and scheduleLog is not null and scheduleLog.runSuccessful == false %}
            <a href="#js-rerun-failed-schedule-modal-{{ onetimeSchedule.id }}" data-toggle="modal">
                <span class="fa fa-undo text-warning fa-lg"></span>
            </a>
            {{ include('scheduler/list/modal/rerunFailedModal.html.twig', {'scheduledItem': onetimeSchedule, 'path': 'schedule_unwreck'}) }}
        {% endif %}
        <a href="{{ path('schedule_edit', {'scheduleId': onetimeSchedule.id}) }}" >
            <span class="text-info fa fa-edit fa-lg"></span> <span class="sr-only">{{ "schedule.action.edit"|trans }}</span>
        </a>

        <a href="#js-delete-scheduled-modal-{{ onetimeSchedule.id }}" data-toggle="modal">
            <span class="text-danger fa fa-trash fa-lg"></span>
        </a>
        {{ include('scheduler/list/modal/deleteModal.html.twig', {'scheduledItem': onetimeSchedule, 'path': 'schedule_remove'}) }}

        <a href="#js-execute-scheduled-modal-{{ onetimeSchedule.id }}" data-toggle="modal">
            <span class="text-{% if onetimeSchedule.runWithNextExecution == true %}muted{% else %}success{% endif %} fa fa-play fa-lg"></span>
        </a>
        {{ include('scheduler/list/modal/executeModal.html.twig', {'scheduledItem': onetimeSchedule, 'path': 'schedule_execution'}) }}
    </td>
</tr>
