{% trans_default_domain 'schedule_list' %}
<tr class="{% if streamSchedule.disabled == true %} text-muted{% endif %}">
    <td>
        <a href="{{ path('schedule_toggle_disabling', {'scheduleId': streamSchedule.id}) }}" >
            {% if streamSchedule.disabled == true %}
                <span class="text-danger fa fa-power-off fa-lg"></span> <span class="sr-only">&nbsp;</span>
            {% else %}
                <span class="text-success fa fa-power-off fa-lg"></span> <span class="sr-only">&nbsp;</span>
            {% endif %}
        </a>
    </td>
    <td>{{ streamSchedule.name }}</td>
    <td>{{ streamSchedule.command }}</td>
    <td>
        {% if streamSchedule.runWithNextExecution == true %}
            {{ 'scheduler_list.run_with_next_execution'|trans }}
        {% elseif streamSchedule.isRecurring == false and isDateTime(streamSchedule.onetimeExecutionDate) %}
            {{ streamSchedule.onetimeExecutionDate|date("D M j, G:i", "Europe/Amsterdam") }}
        {% elseif streamSchedule.isRecurring == true %}
            {{ 'scheduler_list.recurring_time_prefix'|trans }}&nbsp;
            {{ streamSchedule.executionDay|trans|lower }}&nbsp;
            {{ 'scheduler_list.recurring_time_at'|trans }}&nbsp;
            {{ streamSchedule.executionTime|date("G:i", "Europe/Amsterdam") }}
        {% endif %}
    </td>
    <td>
        {% if streamSchedule.lastExecution is null %}-{% else %}{{ streamSchedule.lastExecution|date("D M j, G:i:s", "Europe/Amsterdam") }}{% endif %}
        {% set scheduleLog = streamSchedule.scheduleLog|last ? streamSchedule.scheduleLog|last : null %}
        {% if scheduleLog is not null and scheduleLog.runSuccessful == true %}
            <span class="fa fa-check text-center text-success fa-lg"></span>

        {% elseif scheduleLog is not null and scheduleLog.runSuccessful == false %}
            <span class="fa fa-warning text-danger fa-lg"></span>
        {% endif %}
    </td>
    <td>
        {% if scheduleLog is not null %}
            <a href="{{ path('schedule_view_logging', {'scheduleId': streamSchedule.id}) }}">
                <span class="fa fa-eye fa-lg"></span>
            </a>
        {% endif %}
    </td>
    <td>{{ streamSchedule.priority }}</td>
    <td style="min-width: 90px;">
        {% if streamSchedule.wrecked == true and scheduleLog is not null and scheduleLog.runSuccessful == false %}
            <a href="#js-rerun-failed-schedule-modal-{{ streamSchedule.id }}" data-toggle="modal">
                <span class="fa fa-undo text-warning fa-lg"></span>
            </a>
            {{ include('scheduler/list/modal/rerunFailedModal.html.twig', {'scheduledItem': streamSchedule, 'path': 'schedule_unwreck'}) }}
        {% endif %}
        <a href="{{ path('schedule_edit', {'scheduleId': streamSchedule.id}) }}" >
            <span class="text-info fa fa-edit fa-lg"></span> <span class="sr-only">{{ "schedule.action.edit"|trans }}</span>
        </a>

        <a href="#js-delete-scheduled-modal-{{ streamSchedule.id }}" data-toggle="modal">
            <span class="text-danger fa fa-trash fa-lg"></span>
        </a>
        {{ include('scheduler/list/modal/deleteModal.html.twig', {'scheduledItem': streamSchedule, 'path': 'schedule_remove'}) }}

        <a href="#js-execute-scheduled-modal-{{ streamSchedule.id }}" data-toggle="modal">
            <span class="text-{% if streamSchedule.runWithNextExecution == true %}muted{% else %}success{% endif %} fa fa-play fa-lg"></span>
        </a>
        {{ include('scheduler/list/modal/executeModal.html.twig', {'scheduledItem': streamSchedule, 'path': 'schedule_execution'}) }}
    </td>
</tr>
