<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="{% if active_page is defined and active_page == 'admin_home' %}active{% endif %}">
                <a href="{{ path('admin_page') }}">{{ 'navigation.home'|trans }}</a>
            </li>
            <li class="dropdown {% if active_page is defined and active_page == 'users' %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'navigation.users'|trans }}&nbsp;<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('user_list') }}">{{ 'navigation.user_list'|trans }}</a></li>
                    <li><a href="{{ path('registration') }}">{{ 'navigation.register'|trans }}</a></li>
                </ul>
            </li>
            <li class="{% if active_page is defined and active_page == 'recurring_schedule' %}active{% endif %}">
                <a href="{{ path('jmose_command_scheduler_list') }}">{{ 'navigation.recurring_schedule'|trans }}</a>
            </li>
            <li class="{% if active_page is defined and active_page == 'onetime_schedule' %}active{% endif %}">
                <a href="#">{{ 'navigation.onetime_schedule'|trans }}</a>
            </li>
        </ul>
        {% if app.user is defined and not null %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('user_details', {userId: app.user.id}) }}">
                        {{ 'navigation.account_name'|trans }}{{ app.user.username }}
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>
