{% trans_default_domain 'homepage' %}
<div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if active_page is defined and active_page == 'admin_home' %}active{% endif %}">
                <a class="nav-link nav " href="{{ path('admin_page') }}">{{ 'navigation.admin_home'|trans }}</a>
            </li>
            <li class="nav-item {% if active_page is defined and active_page == 'camera_configuration' %}active{% endif %}">
                <a class="nav-link" href="{{ path('camera_configuration_list') }}">{{ 'navigation.camera_configuration'|trans }}</a>
            </li>
            <li class="nav-item dropdown {% if active_page is defined and active_page == 'users' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ 'navigation.users'|trans }}&nbsp;<span class="caret"></span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('user_list') }}">{{ 'navigation.user_list'|trans }}</a>
                    <a class="dropdown-item" href="{{ path('registration') }}">{{ 'navigation.register'|trans }}</a>
                </div>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('user_list') }}">{{ 'navigation.user_list'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('registration') }}">{{ 'navigation.register'|trans }}</a></li>
                </ul>
            </li>
            <li class="nav-item {% if active_page is defined and active_page == 'schedule' %}active{% endif %}">
                <a class="nav-link" href="{{ path('scheduler_list') }}">{{ 'navigation.schedule'|trans }}</a>
            </li>
        </ul>
        <ul class="navbar-nav pull-right">
            {% if app.user is null %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_page') }}">{{ 'navigation.login_path'|trans }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#js-stop-stream-modal" data-toggle="modal">
                        <span class="text-danger fa fa-stop fa-lg"></span>
                    </a>
                </li>
                {{ include('scheduler/list/modal/stopStreamModal.html.twig') }}
                <li class="nav-item">
                    <a class="nav-link" href="#js-start-stream-modal" data-toggle="modal">
                        <span class="text-success fa fa-play fa-lg"></span>
                    </a>
                </li>
                {{ include('scheduler/list/modal/startStreamModal.html.twig') }}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ 'navigation.account_name'|trans }}{{ app.user.username }}&nbsp;<span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('user_details', {userId: app.user.id}) }}">
                            {{ 'navigation.personal_details'|trans }}
                        </a>
                        <a class="dropdown-item" href="{{ path('user_logout') }}">
                            {{ 'navigation.sign_out'|trans }}
                        </a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
