{% trans_default_domain 'modal' %}
<div class="modal" id="js-delete-user-modal-{{ user.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'user_delete.action.title_user'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ 'user_delete.confirm.delete'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'user_delete.action.cancel'|trans }}</button>
                <a href="{{ path('user_delete', {'userId': user.id}) }}" data-method="POST">
                    <button type="button" class="btn btn-primary">{{ 'user_delete.action.delete'|trans }}</button>
                </a>
            </div>
        </div>
    </div>
</div>
