{% extends "base.html.twig" %}
{% set active_page = 'channels' %}
{% trans_default_domain 'channels' %}
{% block title %}{{ 'channel.new.title'|trans }}{% endblock title %}

{% block content %}
    <h2>{{ 'channel.new.title'|trans }}</h2>
    {% include 'components/flash.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <a href="{{ path('scheduler_list') }}" class="btn btn-danger" role="button">{{ 'channel.action.cancel'|trans }}</a>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock content %}

