{% extends "base.html.twig" %}
{% set active_page = 'channels' %}
{% trans_default_domain 'channels' %}
{% block title %}{{ 'channels_list.page_title'|trans }}{% endblock title %}

{% block content %}
    <h2>{{ 'channels_list.page_title'|trans }}</h2>
    {% include 'components/flash.html.twig' %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ 'channel_list.column_action'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td>{{ channel.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('channel_create') }}" class="btn btn-primary pull-right" role="button">{{ 'button.action.new_channel'|trans }}</a>
{% endblock content %}
