{% extends "base.html.twig" %}
{% set active_page = 'users' %}
{% trans_default_domain 'users' %}
{% block title %}{{ 'users_list.page_title'|trans }}{% endblock title %}

{% block content %}
    <h2>{{ 'users_list.page_title'|trans }}</h2>
    {% include 'components/flash.html.twig' %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            {% if app.user.superAdmin == true %}
                <th scope="col">{{ 'users_list.column_channel'|trans }}</th>
            {% endif %}
            <th scope="col">{{ 'users_list.column_username'|trans }}</th>
            <th scope="col">{{ 'users_list.column_email'|trans }}</th>
            <th scope="col">{{ 'users_list.column_action'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr {% if user.isEnabled == false %}class="text-muted" {% endif %}>
                <td>
                    <a data-method="POST" href="{{ path('user_toggle_disabling', {'userId': user.id}) }}" >
                        {% if user.isEnabled == true %}
                            <span class="text-success fa fa-power-off fa-lg"></span> <span class="sr-only">&nbsp;</span>
                        {% else %}
                            <span class="text-danger fa fa-power-off fa-lg"></span> <span class="sr-only">&nbsp;</span>
                        {% endif %}
                    </a>
                </td>
                {% if app.user.superAdmin == true %}
                    <td>{{ user.channel }}</td>
                {% endif %}
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('user_details', {'userId': user.id}) }}" >
                        <span class="text-info fa fa-edit fa-lg"></span>
                    </a>
                    <a href="#js-delete-user-modal-{{ user.id }}" data-toggle="modal" data-url="{{ path('user_delete', {'userId': user.id}) }}">
                        <span class="text-danger fa fa-trash fa-lg"></span>
                    </a>
                    {{ include('user/modal/deleteUserModal.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('user_registration') }}" class="btn btn-primary pull-right" role="button">{{ 'users_list.registration_button'|trans }}</a>
{% endblock content %}
