{% extends "base.html.twig" %}
{% set active_page = 'camera_configuration' %}
{% trans_default_domain 'camera_configuration' %}
{% block title %}{{ 'camera_configuration_list.page_title'|trans }}{% endblock title %}

{% block content %}
    <h2>{{ 'camera_configuration_list.page_title'|trans }}</h2>
    {% include 'components/flash.html.twig' %}
    {{ form_start(form) }}
    {% for cameraConfiguration in form.cameraConfiguration %}
        <div class="form-group">
            {{ form_label(cameraConfiguration.value, cameraConfiguration.vars.data.key) }}{{ 'camera_configuration_list.full_colon'|trans }}
            {{ form_widget(cameraConfiguration.value) }}
        </div>
    {% endfor %}
    {{ form_widget(form.submitButton) }}
    {{ form_end(form) }}
{% endblock content %}
